.main {
  padding: 1rem;
  background-color: rgb(199, 192, 192);
  /* background-image: url('../../../../old-cement-wall-texture.jpg'); */

  margin: 2rem auto;
  width: 50%;  
  max-width: 95%;
  display: flex;
  justify-content: center;
}
@media (max-width:800px){
    .main{
    width: 60%;

    }
}
@media (max-width:580px){
    .main{
    width: 70%;

    }
}
@media (max-width:480px){
  .main{
  width: 80%;

  }
}
@media (max-width:400px){
  .main{
  width: 85%;

  }
}
@media (max-width:300px){
  .main{
  width: 90%;

  }
}

